<div>
  <h1>Kokebok</h1>
  <app-home-button></app-home-button>
  <div class="book">
    <div id="pages" class="pages">
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191221.png');
        "
      ></div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191283.png');
        "
      ></div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191250.png');
        "
      ></div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191400.png');
        "
      ></div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191336.png');
        "
      ></div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      ></div>
    </div>
  </div>
</div>
