<div>
  <app-home-button></app-home-button>
  <div class="book">
    <div id="pages" class="pages">
      <div
        class="page"
        style="background-image: url('assets/kattekokebok.png')"
      ></div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191283.png');
        "
      >
        <h1>BILDE</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191250.png');
        "
      >
        <h1>Laks me couscous</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191400.png');
        "
      >
        <h1>BILDE</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191336.png');
        "
      >
        <h1>Bao buns</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>BILDE</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>Fajitas</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>BILDE</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>Gnocchi</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>BILDE</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>Spinatpasta</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>BILDE</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>Veggislasagne</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>BILDE</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>Pesto pasta</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>BILDE</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>Kylling me potet og råkostsalat</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>BILDE</h1>
      </div>
      <div
        class="page"
        style="
          background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
        "
      >
        <h1>Pannekake</h1>
        <div
          class="page"
          style="
            background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
          "
        >
          <h1>BILDE</h1>
        </div>
        <div
          class="page"
          style="
            background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
          "
        >
          <h1>Mamma sine digge kornbrod</h1>
          <div
            class="page"
            style="
              background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
            "
          >
            <h1>BILDE</h1>
          </div>
          <div
            class="page"
            style="
              background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
            "
          >
            <h1>Biggipizza</h1>
          </div>
          <div
            class="page"
            style="
              background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
            "
          >
            <div
              class="page"
              style="
                background-image: url('https://papermine.com/pub/autoship-wellness-june20202/media/32191370.png');
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
