.planting-page {
  background-image: url('/assets/leilighet-layout.JPG');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  min-height: 100vh; /* Set min-height to ensure content pushes the page down */
  pointer-events: none; /* Allow click events to pass through the element */
}