@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden; /* Prevent scrollbars due to background image size changes */
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); // Change the alpha value to adjust the darkness
  }
}

.title {
  font-size: 9rem;
  letter-spacing: 0.05em;
  font-family: "Shadows Into Light";
  text-align: center;
  white-space: nowrap;
  color: #ccc;
  text-shadow: 10px 10px 10px #111;
  margin-bottom: 1rem;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.buttons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #bbb;
}

.buttons img {
  max-width: 150px;
  max-height: 180px;
}

.buttons b {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Shadows Into Light";
}

/* Additional styling for anchor tag on hover (optional) */
.buttons a:hover {
  transform: scale(1.1);
}
