@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
body {
  background: #fff;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0 0;
}

.title {
  font-size: 9rem;
  letter-spacing: 0.05em;
  font-family: "Shadows Into Light";
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ccc;
  text-shadow: 10px 10px 10px #111;
}

.wrapper {
  background: url("/assets/background.gif") no-repeat center center fixed;
  mix-blend-mode: darken;
  background-size: cover;
  width: 100vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    mix-blend-mode: multiply;
    z-index: -1;
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.buttons img {
  max-width: 150px;
  max-height: 180px;
  vertical-align: middle;
}

.buttons p {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Shadows Into Light";
  color: #bbb;
  text-decoration: none;
}
