// planting-page.component.scss

.planting-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 251, 203);
}

div {
  text-align: center;

  img {
    object-fit: contain;
    max-width: 80vw;
    max-height: 80vh; /* 80% of the viewport height */
    height: auto;
  }
}
