.planting-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 251, 203);

  .edit-button {
    margin-bottom: 20px;
  }

  .edit-mode {
    cursor: grab;

    .plant-container {
      cursor: grab;
    }

    .plant-container.grabbing {
      cursor: grabbing;
    }
  }

  .plant-container {
    position: absolute;
    width: 10vw;
    height: 10vh;
    transition: transform 0.3s ease-in-out;
  }

  img {
    object-fit: contain;
    max-width: 80vw;
    max-height: 80vh; /* 80% of the viewport height */
    height: auto;
    transition: transform 0.3s ease-in-out;
  }

  .info-bubble {
    position: absolute;
    display: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    white-space: nowrap;
    transform: translate(-50%, -120%);
    pointer-events: none;
  }

  .green {
    background-color: #4caf50;
  }

  .red {
    background-color: #e57373;
  }

  .healthy-icon {
    color: red;
    margin-left: 4px;
  }

  .needs-water-icon {
    color: green;
    margin-left: 4px;
  }

  .plant-container:hover img {
    transform: scale(1.2);
  }

  .plant-container:hover .info-bubble {
    display: block;
  }
  .plant-image {
    object-fit: contain;
    width: 10vw; // Set the width to your desired size
    height: 10vh; // Set the height to your desired size
    transition: transform 0.3s ease-in-out;
  }
}
