<link rel="preload" as="image" href="assets/kokebok/kattekokebok.png" />
<link rel="preload" as="image" href="assets/kokebok/kylling_bilde.jpg" />
<link rel="preload" as="image" href="assets/kokebok/kylling_oppskrift.jpg" />
<link rel="preload" as="image" href="assets/kokebok/biggi_bilde.jpg" />
<link rel="preload" as="image" href="assets/kokebok/biggi_oppskrift.jpg" />
<link rel="preload" as="image" href="assets/kokebok/lasagne_bilde.jpg" />
<link rel="preload" as="image" href="assets/kokebok/lasagne_oppskrift.jpg" />
<link rel="preload" as="image" href="assets/kokebok/pestopasta_bilde.png" />
<link rel="preload" as="image" href="assets/kokebok/pestopasta_oppskrift.png" />

<div>
  <app-home-button></app-home-button>
  <div class="book">
    <div id="pages" class="pages">
      <div
        class="page"
        style="background-image: url('assets/kokebok/kattekokebok.png')"
      ></div>
      <div
        class="page"
        style="background-image: url('assets/kokebok/kylling_bilde.jpg')"
      ></div>
      <div
        class="page"
        style="background-image: url('assets/kokebok/kylling_oppskrift.png')"
      ></div>
      <div
        class="page"
        style="background-image: url('assets/kokebok/biggi_bilde.jpg')"
      ></div>
      <div
        class="page"
        style="background-image: url('assets/kokebok/biggi_oppskrift.png')"
      ></div>
      <div
        class="page"
        style="background-image: url('assets/kokebok/lasagne_bilde.jpg')"
      ></div>
      <div
        class="page"
        style="background-image: url('assets/kokebok/lasagne_oppskrift.png')"
      ></div>
      <div
        class="page"
        style="background-image: url('assets/kokebok/pestopasta_bilde.png')"
      ></div>
      <div
        class="page"
        style="background-image: url('assets/kokebok/pestopasta_oppskrift.png')"
      ></div>
    </div>
  </div>
</div>
