<body>
  <div class="background-container">
    <div class="title-wrapper">
      <h1 class="title">St. Olavs Gate 5A</h1>

      <div class="buttons">
        <a routerLink="/planteting">
          <img src="assets/plant.gif" />
          <b>plantan</b>
        </a>
        <a routerLink="/kokebok">
          <img src="assets/cooking.gif" />
          <b>kokeboka</b>
        </a>
        <a routerLink="/to-doodelidoo">
          <img src="assets/booties.gif" />
          <b>bøttelista</b>
        </a>
      </div>
    </div>
  </div>
</body>
