<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- Make the title clickable and link to the landing page -->
  <a routerLink="/" class="title">St. Olavs Gate 5A</a>
  <div class="toolbar-right">
    <!-- Navigation menu with the provided styles -->
    <nav class="navMenu">
      <a routerLink="/kokebok">Kokebok</a>
      <a routerLink="/to-doodelidoo">To doodelidoo</a>
      <div class="dot"></div>
      <div class="dot"></div>
    </nav>
  </div>
</div>

<!-- Landing Page Content -->
<div class="landing-page">
  <app-landing-page></app-landing-page>
</div>

<!-- Kokebok Component -->
<div class="component-container">
  <app-kokebok-page></app-kokebok-page>
</div>

<!-- To doodelidoo Component -->
<div class="component-container">
  <app-to-doodelidoo-page></app-to-doodelidoo-page>
</div>


