/* Global styles for the app */
.app-container {
  display: flex;
  flex-direction: column;
}

/* Styles for the toolbar */
.toolbar {
  position: fixed; /* Make the toolbar fixed to the top of the viewport */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items and title to opposite ends */
  height: 70px; /* Increase the height to make the toolbar taller */
  color: white;
  padding: 0 20px;
  background-color: transparent; /* Set the background color to transparent */
  z-index: 1000; /* Set z-index to ensure the toolbar stays on top of other elements */
}

.title,
.navMenu a {
  text-decoration: none;
  font-size: 2.4em;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  color: #999; /* Set the initial color of the toolbar items to grey */
}

.navMenu a {
  display: inline-block;
  margin-right: 50px;
}

/* Styles for the navigation menu on the right side */
.navMenu {
  display: flex;
  align-items: center;
}

/* Individual colors on hover and when active */
.navMenu a:nth-child(1):hover,
.navMenu a:nth-child(1).active {
  color: #fddb3a; /* Set individual color on hover and when active for the first item */
}

.navMenu a:nth-child(2):hover,
.navMenu a:nth-child(2).active {
  color: #ff5722; /* Set individual color on hover and when active for the second item */
}

.navMenu a:nth-child(3):hover,
.navMenu a:nth-child(3).active {
  color: #9c27b0; /* Set individual color on hover and when active for the third item */
}

.navMenu a:nth-child(4):hover,
.navMenu a:nth-child(4).active {
  color: #2196f3; /* Set individual color on hover and when active for the fourth item */
}
