.home-button {
  background-size: cover;
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  cursor: pointer;
  filter: saturate(200%);
}
